[Unit]
Description=pira
After=pigpiod.service

[Service]
Environment=PYTHONUNBUFFERED=1
EnvironmentFile=/etc/environment
ExecStart=/home/pi/hack-the-poacher/PiRA-zero-firmware/start.sh
WorkingDirectory=/home/pi/hack-the-poacher/PiRA-zero-firmware
Restart=on-failure

[Install]
WantedBy=multi-user.target

